/* =========================================================
   IMAGES
   ========================================================= */

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/* =========================================================
   FLUID
   ========================================================= */

.is-fluid {
  display: block;
  width: 100%;
  height: auto;
}
